
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
</body>

</html>
<div class="footer">
<a href="https://www.facebook.com/reynoldndesignllc/"><i class="fab fa-facebook fa-2x"></i></a>

<p>Copyright © 2019 Reynolds Design LLC - All Rights Reserved.</p>

</div>
