<%- include("partials/header") %>

<style media="screen">
  p {text-align: center}

</style>
<div class="aboutH1width">
<h1 class="aboutH1">About Us</h1>
</div>
<section class="about-us">
  <div class="container-fluid">
    <div class="row" id="about-text">
      <div class="about-boxes col-lg-4 col-md-12">
        <img class="aboutPics" src="images/wy.webp" alt="Picture of Wyatt McMartin">
        <h3 class="about-titles">Wyatt McMartin, Principal</h3>
        <div class="about-paragraphs">
        <p> Electrical Engineer by school and Mechanical Engineering Designer by trade
          Wyatt McMartin has owned and operated Reynolds Design since 2015 as a DBA and
          since 2017 as an LLC.</p>

        <p> Through his career he has been involved in furniture design, medical device
          design, grid-level power system design, fowl-housing, residential design,
          higher-education, and consumer product design.</p>

        <p> Wyatt is passionate about product design and shares that knowledge in the
          classroom as an adjunct Computer Aided Design professor at Harrisburg Area
          Community College.</p>

        <p> Through Reynolds Design LLC he regularly gives presentations at the college
          as well as area high schools about the importance of design and engineering,
          and what it is like to pursue a career in a STEM field.</p>
          </div>
        <a href="https://www.linkedin.com/in/reynoldsdesign/"><button class="btn btn-secondary aboutBtn"
         type="button" name="linkedInBtn">Connect on LinkedIn</button></a>
      </div>

      <div class="about-boxes col-lg-4 col-md-12">
        <img class="aboutPics" src="images/mech.design.jpg" alt="small logo">
        <h3 class="about-titles">Product Development</h3>
        <div class="about-paragraphs">


        <p> Reynolds Design LLC. is a small Design House specializing in AutoCAD and
          SolidWorks product development. Since 2015, we have aided in the development
          and manufacturing of over 100 projects for a number of local and non-local
          companies and local designers.</p>

        <p> Let us help you with your companies next product development effort!
          Click the link below to connect with us about your development needs.</p>
        </div>
        <a href="contact"><button class="btn btn-secondary aboutBtn" type="button" name="contactBtn">Contact Us</button></a>
      </div>

      <div class="about-boxes col-lg-4 col-md-12">
        <img class="aboutPics" src="images/CAD1.png" alt="Solutions Image">
        <h3 class="about-titles">Services</h3>
        <div class="about-paragraphs">
        <p> SolidWorks Design and Drafting services </p>
        <p> AutoCAD to SolidWorks Conversion </p>
        <p> Production Sheets </p>
        <p> Production Models </p>
        <p> Basic Renderings </p>
        <p> Sheet Metal Design </p>
        <p> Molded Plastic Design </p>
        <p> Surface Modelling </p>
        <p> Design Review </p>
        <p> 3-D Models </p>
        <p> 3-D PDF's </p>
        <p> Material Selection </p>
        </div>
        <a href="services"><button class="btn btn-secondary aboutBtn" type="button" name="serviceBtn">Service Information</button></a>
      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") %>
