<%- include("partials/header") %>


<div class="homePage">
  <div class="img-container">


      <img class="bgIMG" src="images/bg2.jpg" alt="big cad picture">

  </div>

  <div class="bubble-container">
    <div class="text-bubble">
      <h2>SolidWorks and AutoCAD Design</h2>
      <a href="contact"><button type="button" name="button" class="btn btn-dark btn-lg">Click Here to Connect!</button></a>
    </div>
  </div>
  <div class="intro">
    <h3 class="">Reynolds Design LLC., is a full-service product design house who can help you with your research and development needs.</h3>
  </div>
</div>
<%- include("partials/footer") %>
