<%- include("partials/header") %>


<div class="servicePage">

<h1 class="solutionH1">Design Solutions</h1>

<div class="row serviceContainer">

<div class="col-lg-4 col-md-12 col-sm-12 solutionPicBox">
  <img class="solutionPic" src="images/solutions.jpg" alt="solutions image">
</div>

<div class="col-lg-8 col-md-12 col-sm-12 servicesText">
  <h2>SolidWorks</h2>
  <p>Specializing in SolidWorks design, we provide professional product development services from idea through product release.  We offer both drafting-only services as well as full-package product design and engineering services.  We will work with you, your vendors, and your manufacturers to ensure the highest standard of 3-D models and production sheets and CAD files that are ready to manufacture.</p>
  <h2>AutoCAD</h2>
  <p>As part of our drafting and design services we can provide accurate .DXF flat patterns and CNC files and will work with your manufacturer to ensure that you have what you need come time to manufacture your products.</p>
  <h2>Production Models</h2>
  <p>Your one stop shop for all your 3-D Model needs.  We can provide part, assembly, sub-assembly, exploded, SolidWorks renders, and animations of all your products.</p>
  <h2>Production Sheets</h2>
  <p>As part of our drafting and design services we can work with you and your manufacturers to ensure accurate and market ready manufacturing sheets, models, and flat patterns.</p>
  <h2>2-D to 3-D Conversions</h2>
  <p>We can help you convert and update your legacy AutoCAD files into 3-D SolidWorks files.</p>
  <h2>Sheet Metal</h2>
  <p>Ask us about your sheet metal design needs!  We have extensive sheet metal design experience and can generate accurate laser files and sheet metal designs for your upcoming R&D project.</p>
  <h2>Molded Plastics</h2>
  <p>Let's work together to bring your next injection-molded plastic design to life!</p>
  <h2>Surface Modeling</h2>
  <p>Create organic shapes and ergonomic designs with advanced 3-D surfacing techniques.</p>
  <h2>Design Review</h2>
  <p>Design work is complete?  We can help you with your design and tolerance review process to help free up your in-house design resources. </p>
  <h2>Design Services</h2>
  <p>We can assist you in creating 3-D PDF's for all your products to create an interactive web experience for your customers.</p>
  <a href="contact"><button class="btn btn-info" type="button" name="button">Find Out More</button></a>
</div>

</div>

</div>


<%-include("partials/footer") %>
